.news-list {
    margin: auto;
    width: 90%;
    max-width: 1800px;
    height: fit-content;
    position: relative;
    z-index: 5;
    text-align: left;
    padding: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}