@font-face {
  font-family: "mohr";
  src: url(./shared/assets/fonts/Mohr-Bold.otf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "mohr";
  src: url(./shared/assets/fonts/Mohr-BoldIt.otf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "mohr";
  src: url(./shared/assets/fonts/Mohr-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mohr";
  src: url(./shared/assets/fonts/Mohr-RegularIt.otf);
  font-weight: normal;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "mohr", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #e6e7e8;
}
