.socials {
    font-size: 2rem;
  }
  
  .socials a svg {
    color: black;
    margin: 1rem 1rem 0 0;
    border: 1px solid black;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
  }

  .socials.white a svg {
    color: white;
    margin: 1rem 1rem 0 0;
    border: 1px solid white;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
  }